/*
 * Default style for widgets
*/

.pde-widget-default .pde-form-field {
  padding: 0;
  margin: 0 0 1em;
}

.pde-widget-default span.description-small {
  font-size: 9px;
  display:block;
}

.pde-widget-default input[type=text],
.pde-widget-default input[type=password],
.pde-widget-default textarea,
.pde-widget-default select {
  width: 100%;
}

.pde-widget-default select {
    background-color: #F9F9F9;
    border-color: #DFDFDF;
}

.pde-form-field.pde-form-checkbox .pde-form-title:after {
	content: '' ;
}

.pde-form-field .pde-form-title:after {
	content: ':' ;
}

.pde-form-field .pde-form-title:empty:after {
	content: '' ;
}

div.pde-form-images-buttons {
  text-align: right;
  margin-bottom: 5px;
}

/* Color picker styling */

.pde-form-field div.color-picker-div .pde-plugin-pickcolor-text {
  width:100px;
}

.pde-form-field div.color-picker-div .pde-plugin-pickcolor-example {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  margin: 0 7px 0 3px;
  padding: 4px 14px;
    display: inline;
}

.pde-form-field div.color-picker-div .pde-plugin-pickcolor {
  width:auto;
  display:inline-block;
}

.pde-form-field div.color-picker-div .pde-plugin-pickcolor-popup {
  z-index: 100;
  background:#eee;
  border:1px solid #ccc;
  position:absolute;
  display:none;
}

