/*
 * Default style for widgets
*/

.pde-widget-default {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pde-widget-default .pde_form_field {
  padding: 5px 0 5px 0;
}

.pde_form_field.pde_form_checkbox .pde_form_title:after {
	content: '' ;
}

.pde_form_field .pde_form_title:empty:after {
	content: '' ;
}

.pde_form_field .pde_form_title:after {
	content: ':' ;
}

.pde_form_field.pde_form_checkbox input,
.pde_form_field.pde_form_radio input {
	float: left ;
	margin-right: 5px !important;
}

.pde-widget-default .description-small {
  font-size: 9px;
}

.pde_form_field.pde_form_checkbox input,
.pde_form_field.pde_form_radio_button input,
.pde_form_field.pde_form_radio input {
	width: auto;
}

.pde_form_field.pde_form_radio .pde_form_radio_option {
	padding-bottom: 5px;
}

.pde_form_field select, .pde_form_field input, .pde_form_field textarea {
	width: 100%;
}
